{% extends "base.html" %}
{% block content %}
    {% if messages %}
    <ul class="alert alert-success" role="alert">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
        <ul class="list-group list-group-flush">
            {% for book in book_list %}
                <li class="list-group-item list-group-item-secondary">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">{{ book.book_title }}</h3>
                        <small class="text-muted">カテゴリ: {{ book.category }}</small>
                    </div>
                        <small class="mb-1">
                            著者:{{ book.author_name }}
                        </small>
                        <p class="mb-1"><h5>{{ book.description }}</h5></p>
                    <div class="d-flex w-100 justify-content-between">
                                <small class="text-muted">投稿日:{{ book.created_at }}</small>    
                                {% if book.lend %}
                                        <h3><a class="btn btn-primary" href="{% url 'main:book_lend' book.pk %}" role="button">申請する</a></h3>
                                    {% else %}
                                        <h3><a class="btn btn-dark" href="{% url 'main:book_lend' book.pk %}" role="button">貸出中</a></h3>
                                    {% csrf_token %}
                                {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>        
{% endblock %}