{% extends 'base.html' %}
{% block content %}
<form action="{% url 'main:registration' %}" method="POST">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">登録確認画面</h2>
                {% if messages %}
                            <ul class="alert alert-success" role="alert">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                            {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% if field.help_text %}
                        <small style="color: grey">・{{ field.help_text }}</small>
                        {% endif %}
                        </ul>
                    </p>
                {% endfor %}
                {% csrf_token %}
                <div>
                <a class="btn btn-secondary" href="{% url 'main:book_create' %}" role="button">キャンセル</a>                    
                <button type="submit" class="btn btn-success">登録</button>
                </div>
            </div>
        </div>                                      
    </div>
</form>
{% endblock %}